.item_Color{
    @include centrar;
    gap: 25px;
    padding: 5px;
    width: 200px;
    flex-direction: row;
    border-radius: 5px;

    div{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        cursor: pointer;
    }

}
.highlighted {
    border: 2px solid $fifth-color;
}


.item_Color .div-1{
    background-color: #000000;
}
.item_Color .div-2{
    background-color: #4f4639;
}
.item_Color .div-3{
    background-color: #513e0e;
}