.container_Descuento {
    @include centrar;
    flex-wrap: wrap;
    width: 100%;
    height: 350px;
    padding: 25px;
    flex-wrap: wrap;
    background-color: $fifth-color;
    margin-top: 25px;
    border-radius: 15px;
    border: 0.3px solid $secondary-color;
    gap: 30px;
    margin-bottom: 40px;
    @include shadow-2;

    .section-1 {
        h2 {
            font-size: 50px;
            color: $sixth-color;
        }
    }
}

.section-2 {
    display: flex;
    gap: 30px;

    input {
        max-width: 350px;
        height: 60px;
        border-radius: 4px;
        padding-left: 25px;
        background-color: transparent;
        border: 1px solid $sixth-color;
    }

    button {
        @include centrar;
        padding: 15px;
        border-radius: 4px;
        background-color: transparent;
        color: $sixth-color;
        border: 1px solid $sixth-color;

        &:hover {
            background-color: $sixth-color;
            color: $seventh-color;
        }
    }
}

@media only screen and (max-width: 750px) {
    .container_Descuento{
        gap: 15px;
    }
    .section-1 h2 {
        font-size: 40px;
    }

    .section-2 {
        flex-wrap: wrap;

        input{
            height: 40px;
        }
        button{
            height: 40px;
        }
    }
}

@media only screen and (max-width: 500px){
    .section-1 h2 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 380px) {
    .section-1 h2 {
        font-size: 20px;
    }
}