.main {
    @include centrar;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    background-color: $seventh-color;

    .h3,
    .a {
        color: $sixth-color;
        @include font-Abril;
    }

    .main_Item {
        @include centrar;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
}