.main {
    @include centrar;
    flex-direction: column;
    padding: 20px;
    gap: 5px;

    .h3,
    .a {
        color: $sixth-color;
        font-weight: bold;
        @include font-Abril;
    }

    .main_Item {
        @include centrar;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }
}