.main {
    @include centrar;
    flex-direction: column;
    gap: 20px;

    .h3,
    .a {
        color: $sixth-color;
        @include font-Abril;
    }

    .main_Item {
        @include centrar;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
    }
}