.container_nav{
    @include centrar-between;
    width: 100%;
    top: 0;
    position: fixed;
    padding: 40px;
    margin: 0px;
    z-index: 10;
    height: 70px;
    transition: all 0.8s;
    background-color: $sixth-color;

    a{
        text-decoration: none;
        color: $tertiary-color;

        &:hover{
            color: $secondary-color;
        }
    }
    p{
        right: 25px;
        font-size: 16px;
        color: $tertiary-color;
        padding: 5px;
    }
}


.enlace-activo{
    text-decoration: underline 3px;
    color: $secondary-color;
}
.container_nav__body__links{
    @include centrar;
    font-size: 17px;
    margin-top: 15px;
    padding: 0px;
    letter-spacing: 3px;
    margin-left: 10px;

    li{
        margin-right: 25px;
        padding: 3px;
        list-style: none;
        border-radius: 25px;
        transition: all 0.4s;
    }
}


.container_nav__body__cart{
    font-size: 25px;
    @include centrar;

    .icon{
        color: $tertiary-color;
    }
}


#lines{
    display: none;
    font-size: 30px;
    color: $tertiary-color;
}
.navbar--responsive{
    display: none;
}
.scrolled{
    margin-top: -100px;
    display: flex;
    width: 100%;
    background-color:$sixth-color;

    a{
        color: $tertiary-color;
    }
}

.contador {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    color: $fifth-color;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 5px;
}

.menu_secondary {
    display: none;
    z-index: 25;
    width: 180px;
    height: 80px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    background-color: $primary-color;
    transition: all 0.5s;
    @include shadow;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
        @include centrar;
        flex-direction: column;
        position: absolute;
        top: 55px;
        left: 130px;
    }

    .categoria-a {
        text-decoration: none;
        color: $sixth-color;
    }
}

li:hover+.menu_secondary {
    @include centrar;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 130px;
    transition: all 0.5s;
}

.fa{
    color: $secondary-color;
    cursor: pointer;
}
.sesion_container{
    @include centrar;
    flex-direction: row;
    gap: 20px;
}


@media only screen and (max-width: 840px){
    .container_nav__body__links{
        display: none;
    }
    .container_nav{
        padding: 20px;
    }
    
    .navbar--open{
		position: fixed;
		display: flex;
        justify-content: top;
        align-items: flex-end; ;
        flex-direction: column;
        width: 75%;
        right: 0;
        height: 100vh;
        top: 0;
        gap: 20px;
        padding: 25px;
        list-style: none;
        transition: all .7s;
        background-color: rgba(39, 31, 31, 1);

        h2{
            color: $tertiary-color;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
	}

    .container_links--responsive{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 30px;
        list-style: none;
        color: $fifth-color;

        a{
            color: $tertiary-color;
        }
    }
    
    #lines{
		display: inline-block;
	}
    
}