.inicio_Button {
    @include centrar;
    gap: 15px;
    @include font-Roboto;

    .button-1 {
        padding: 5px 7px 5px 7px;
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid $tertiary-color;
        color: $tertiary-color;
        font-size: 13px;

        &:hover {
            background-color: $tertiary-color;
            color: $secondary-color;
        }
    }

    .button-2 {
        padding: 5px 7px 5px 7px;
        background-color: $tertiary-color;
        border-radius: 4px;
        border: 1px solid $tertiary-color;
        color: #3d3e40;
        font-size: 13px;

        &:hover {
            background-color: $secondary-color;
            color: $tertiary-color;
        }
    }
}